student{
display:block; 
margin-top:10px; 
color:Navy;
}
USN{
display:block; 
margin-left:10px;
font-size:14pt; 
color:#99ccff;
}
name{
display:block; 
margin-left:20px;
font-size:14pt; 
color:#66b3ff;
}
college{
display:block; 
margin-left:20px;
font-size:12pt; 
color:#29293d;
}
branch{
display:block; 
margin-left:20px;
font-size:12pt; 
color:#29293d;
}
year{
display:block; 
margin-left:20px;
font-size:14pt; 
color:#ff6666;
}
e-mail{
display:block; 
margin-left:20px;
font-size:12pt; 
color:#990033;
}
students{
max-width:30%;
margin:auto; 
background-color:  #256c74;
}